<% provide(:title, 'About') %>
<div class="container">
    <div class="center">
        <h1>About DOTA Deals</h1>
        <hr>

        <h4>Information:</h4>
        <p>DOTA Deals is a free web service for DOTA2 players to trade their DOTA 2 items. By creating listings that offer up to 6 items for trade, the user can list up to 6 items wanted in return for those items. Other features include searching for items through lists and a user messaging system for users to communicate with each other to facillitate easier trading. DOTA Deals is currently in Beta testing.</p>

        <h4>Origins:</h4>
        <p>This projected started out as the developer's first project using the Ruby on Rails framework.
            He wanted to apply the skills he was learning in his web development studies and decided that
            he would create a project that was related to a game that he was playing regularly at the time. 
            Finally, he had decided that he wanted to create a medium to trade the items he received in game with other
            players so that he could acquire items that he wanted, and thus, DOTA Deals was born.</p>
    </div>
</div>
