<% provide(:title, 'About') %>
<div class="container">
    <div class="center">
        <h1>About the DOTA Bazaar</h1>
        <hr>

        <h4>Information:</h4>
        <p>THe DOTA Bazaar is a free web service for users to trade their DOTA 2 items. By creating listings that offer up to 6 items for trade, the user can list up to 6 items wanted in return for those items. Other features include searching for items through lists and a user messaging system for users to communicate with each other to facillitate easier trading. The Dota Bazaar is currently in Beta testing.</p>

        <h4>Origins:</h4>
        <p>This projected started out as the developer's first project using the Ruby on Rails framework.
            He wanted to apply the skills he was learning in his web development studies and decided that
            he would create a project that was related to a game that he was regularly playing at the time. 
            He had decided that he wanted to create a medium to trade the items he received in game with other
            players so that he could acquire items that he wanted, and thus, the Dota Bazaar was born.</p>
    </div>
</div>
