<% provide(:title, 'Faq') %>

<div class="container">
    <h1>Frequently Asked Questions</h1>
    <div class="panel-group" id="accordion">
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
          How do I register for an account?
        </a>
      </h4>
    </div>
    <div id="collapseOne" class="panel-collapse collapse in">
      <div class="panel-body">
        There is no need to register for an account. 
        Click on the sign-in button on the top right corner of the header or the 
        STEAM (green) sign-in button on the front page. Once you sign in through Steam's
        login page, STEAM will send the public data from your Steam profile
        to DOTA Deals and from that point on you can sign-in through steam.
        The DOTA Deals application does not require your password 
        and WILL NEVER ASK FOR YOUR password! 
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
          How do I create a listing?
        </a>
      </h4>
    </div>
    <div id="collapseTwo" class="panel-collapse collapse">
      <div class="panel-body">
         Once signed in, you will see a "New Listing" button at the top of the
         header. Click "New Listing" and then select the items you wish to
         trade as well as the items you wish to trade for.
      </div>
    </div>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h4 class="panel-title">
        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">
          How do I contact the owner of this appication?
        </a>
      </h4>
    </div>
    <div id="collapseThree" class="panel-collapse collapse">
      <div class="panel-body">
        You can reach him at the 
        <a href="/contact">Contact Page</a> or email at dealsdota@gmail.com
      </div>
    </div>
  </div>
</div>
</div>

