<% provide(:title, 'Home') %>

<div class="center hero-unit">
    <h1>Welcome To The DOTA MARKET</h1>

    <h2>This is the home page for the <a href="#">DOTA MARKET.</a>
    </h2>
    <%= link_to "Sign in with STEAM", "#" %>
</div>