<% provide(:title, 'Home') %>
<div class="main-div">
  <% if signed_in? %>
    <div class="container">
        <%= render "layouts/listing" %>
         <div class="pagination">
            <%= will_paginate @listings, renderer: BootstrapPagination::Rails, class: "pagination-lg" %>
        </div>
    </div>

  <% else %>
    <div class="main-section">
      <div class="center hero-unit main-page section-one">
        <h1 class="main-welcome"><small>WELCOME TO</small><br/>DOTA DEALS</h1>
          <h2>Trade your DOTA 2 items with other players for free!</h2>
            <a href="/auth/steam" class="steam-btn"><i class="fa fa-steam"></i>  SIGN IN THROUGH STEAM</a>        
      </div>
      
      <div class="row">
        <div class="col-xs-12 center">
          <div class="inline-border">Why DOTA Deals?</div>
        </div>
      </div>


      <div class="row secondary-section">
        <div class="col-sm-4">
            <b class="glyphicon glyphicon-search main-glyph"></b>
            <h2>Search for items &amp; available for trade</h2>
              <p>Search through the Bazaar for items that are available for trade by other other players.</p>
        </div>
        <div class="col-sm-4">
            <b class="glyphicon glyphicon-list main-glyph"></b>
            <h2>List your items for trade for free</h2>
              <p>List up to 6 items from your DOTA backpack in return for up to 6 items you want in return in a single listing. </p>
        </div>
        <div class="col-sm-4">
            <b class="glyphicon glyphicon-user main-glyph"></b>
            <h2>Easily message other users to facilliate trading.</h2>
              <p>Message players who have the items you want to easily customize your DOTA characters!</p>
        </div>
      </div>
    </div>
  <% end %>

  <!--

  <div class="row">
    <div class="col-xs-12 center">
      <div class="inline-border">Recent Listings</div>
    </div>
  </div>

  -->

</div>
