<h1><%= @item.name %></h1>

<div class="container">
   <div class="center">
    <img src="<%= @item.image_url %>" alt="">
   
       <h2><%= @item.item_description %></h2>
   
   <% if @item.rarity.nil? %>
           <h3>Rarity: Common</h3>
   
       <% else %>
   
           <h3>Rarity: <%= @item.rarity.capitalize %></h3>
       <% end %>
   </div>
</div>
