<div class="main-div row clearfix">
  <% if @user_listings.empty? %>
      <p>This space is empty because the user has not created any listings yet!</p>
  <% else %>
      <div class="col-xs-12">
        <%= render partial: "layouts/listing", collection: @user_listings %>
      </div>
  <% end %>
</div>
