<div class="main-div row clearfix">
  <% if @user_listings.empty? %>
    <p>This space is empty because you have not created any listings yet!
        Try creating your first listing!
    </p>
  <% else %>
  <div class="col-xs-12">
        <%= render partial: "layouts/listing", collection: @user_listings %>
  </div>
  <% end %>
</div>
