<div class="main-div row clearfix">
  <div class="col-xs-3">
      <% if signed_in? %>
        <%= render "layouts/sidebar" %>
      <% end %> 
  </div>

  <% if @listings.empty? %>
    This space is empty because you have not created any listings yet!
    Try creating your first listing!
  <% else %>
  <div class="col-xs-9">
      <%= render "layouts/listing" %>
  </div>
  <% end %>
</div>
