<div class="main-div row clearfix">
  <div class="col-xs-3">
      <% if signed_in? %>
        <%= render "layouts/sidebar" %>
      <% end %>
  </div>

  <div class="col-xs-9">
      <%= render "layouts/listing" %>
  </div>
</div>
