<div class="main-div">
    <div class="row">
        <% if signed_in? %>
        <div class="col-xs-3"> 
          <%= render "layouts/sidebar" %>
        </div>
        <div class="col-xs-8">
          <%= render "layouts/user_listings" %>
          <% if flash.alert %>
            <div class="alert alert-danger">
              <span>Comments can't be blank</span>
            </div>
          <% end %>
        </div>
        <% else %>
        <div class="container">
          <%= render "layouts/user_listings" %>
        </div>
        <% end %>
    </div>
</div>
