<div class="main-div">
    <div class="row">
      <div class="col-xs-12">
        <% if signed_in? %>
        <!--
        <div class="col-xs-3"> 
          <%= render "layouts/sidebar" %>
        </div>
        -->
          <%= render "layouts/user_listings" %>
        <% else %>
          <%= render "layouts/user_listings" %>
        <% end %>
        </div>
    </div>
</div>