<div class="main-div">
  <% if flash[:success] %>
  <div class="alert alert-success alert-dismissable goodbye">
    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
    <strong>Congratulations!</strong> Your post was successful!
  </div>
  <% end %>
    <div class="row">
        <% if signed_in? %>
        <div class="col-xs-3"> 
          <%= render "layouts/sidebar" %>
        </div>
        <div class="col-xs-8">
          <%= render "layouts/user_listings" %>
        </div>
        <% else %>
        <div class="container">
          <%= render "layouts/user_listings" %>
        </div>
        <% end %>
    </div>
</div>