/* main */

$background: #ECF0F1; /*** #ECF0F1 is clouds color */
$mainGlyph: #2C3E50;
$steam: #7da10e;


/* main colors */

$color1: #222222; /* #222222 is black, former color: #34495E */
$color2: #1ABC9C; /* #1ABC9C is turquoise */ /* #E74C3C is alizarin */
$color3: #BDC3C7; /* #BDC3C7 is silver */ /* #95A5A6 is concrete */
$color4: #2C3E50; /* #2C3E50 is midnight blue */
$color5: #34495E; /* #34495E is wet asphalt */
$color6: #ffffff; /* original color is #ffffff aka white */
$color7: black;

/* main backpack */

$backpack: $color4;

/* items */

$itemslot: #2A2A2A;

/* DOTA2 Item borders */

$gray: #999;
$uncommon: #5e98d9;
$rare: #4b69ff;
$immortal: orange;
$mythical: #8847ff;

@mixin transition($val){
    -webkit-transition: $val;
    -moz-transition: $val;
    -o-transition: $val;
    transition: $val;
}

@mixin boxShadow($val){
    -webkit-box-shadow: $val;
    -moz-box-shadow: $val;
    box-shadow: $val;
}

@mixin borderRadius($val){
    -webkit-border-radius: $val;
    -moz-border-radius: $val;
    border-radius: $val;
}

@mixin borderTop($val){
    -webkit-border-top-left-radius: $val;
    -moz-border-top-left-radius: $val;
    -webkit-border-top-right-radius: $val;
    -moz-border-top-right-radius: $val;
    border-top-left-radius: $val;
    border-top-right-radius: $val;
}

@mixin borderBottom($val){
    -webkit-border-bottom-left-radius: $val;
    -moz-border-bottom-left-radius: $val;
    -webkit-border-bottom-right-radius: $val;
    -moz-border-bottom-right-radius: $val;
    border-bottom-left-radius: $val;
    border-bottom-right-radius: $val;
}

@mixin boxSizing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}