// Place all the styles related to the Items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import "import";

/* Items Module */

.item-slot {
    display: inline-block;
    width: 125px;
    height: 95px;
    background-color: $itemslot;
    list-style-type: none;
    border-radius: 12px;
    margin: 1px;
    float: left;
    &:hover {
        background-color: $color1;
    }
}

/*.item-li, 
.search-item-li {
    list-style-type: none;
    float: left;
    margin: 5px;
    img {
        height: 75px;
        width: 100px;
    }
}
*/ 

.item {
    list-style-type: none;
    float: left;
    margin: 5px;
    img {
        height: 75px;
        width: 100px;
    }
}


.uncommon {
    border-color: $uncommon;
}

.rare {
    border-color: $rare;
}

.immortal {
    border-color: $immortal;
}

.mythical {
    border-color: $mythical;
}
