@import "import";

.sidebar {
   background-color: #34495E;
   height: 200%;
   @include borderRadius(8px);
}

/*
.sidebar-avatar {
   background-color: #34495E;
}
*/

.sidebar-avatar img {
    margin: 20px 0;
}

.sidebar-menu {
    padding: 10px 0;
    background-color: #BDC3C7;
    @include borderBottom(8px);

}

.sidebar-menu ul {
    margin-top: 1px;
    margin-right: 42px;
    padding-left: 0;
    margin-bottom: 0;
}

.sidebar-menu li {
    list-style: none;
}

.sidebar-menu span {
    float: left;
    position: relative;
    left: 200px;
    display: block;
}

.sidebar-menu a {
    color: #FFF;
}

.sidebar-menu a:hover {
    color: #1ABC9C;
}
.sidebar-bar li {
  margin-left: 20px;
}

.messages-sidebar {
  margin-top: 20px;
}

.messages-sidebar i {
  padding-left: 5px;
}

.messages-sidebar a {
  padding-left: 45px;
}

.user-name {
    color: #BDC3C7;
}

