@import "import";

.sidebar {
   background-color: $color1;
   text-align: center;
   @include borderRadius(3px);
}

.sidebar-avatar {
   background-color: $color1;;
}


.sidebar-avatar img {
    margin: 20px 0;
}

.sidebar-menu {
    padding: 10px 0;
    background-color: $color3;
    @include borderBottom(3px);
      ul {
        margin-right: 10px;
        display: inline-block;
      }
      li {
        list-style: none;
        &:nth-child(1){
          margin-right: 40px;
        }
        &:nth-child(3){
          margin-right: 33px;
        }
        &:nth-child(4){
          margin-right: 20px;
        }
        &:nth-child(5){
          margin-right: 15px;
        }
      }
      a {
        color: #FFF;
        display: inline-block;
        margin-left: 10px;
      }
      a:hover {
        color: $color2;
      }
}

.messages-sidebar {
  margin-top: 20px;
  i {
    padding-left: 5px;
  }
  a {
    padding-left: 45px;
  }
}

.user-name {
    color: $color3;
}

