@import "import";

.user-stats {
    height: 230px;
    background-image: url("main-bg.jpg");
    color: #FFF;
    .user-stats-sub {
        margin-top: 19px;
        margin-left: 30px;
        i {
            font-size: 40px;
        }
    }
    .user-img {
        margin: 20px 0 0 50px;

    }
    .steam-name {
        font-size: 35px;
        margin-left: 15px;
    }
    .user-stats-options {
        div {
            height: 100px;
            width: 138px;
            padding: 10px;
            margin: 0 10px;
            &:hover{
                color: $color2;
                @include transition(0.25s)
            }
        }
        p {
            font-size: 18px;
            font-weight: 300;
        }
    }
}

.main-backpack-section {
    > .title {
        background-color: white;
    }
}
