// Place all the styles related to the UserListings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*** MAIN VIEW ***/

body {
    background-color: #ECF0F1;
}

.main-div {
    margin-top: 25px;
    margin-left: 25px;
}

.title,
.selection-menu,
.backpack-menu,
.sidebar {
    -moz-border-radius: 5px 5px 0 0 ;
    -webkit-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
}

.selection-menu,
.backpack, 
.search-menu,
.menu {
    -moz-border-radius: 0 0 5px 5px;
    -webkit-border-radius: 0 0 5px 5px;
    border-radius: 0 0 5px 5px; 
}

.menu {
    background-color: #BDC3C7;
}

.submit-button {
    width: 100%;
}

/*** SELECTION MENU ***/

.selection-menu {
    padding-bottom: 30px;
    min-width: 952px;
}

.title span,
.selection-menu h5 {
    color: white;
}

.selection-menu h5 {
    margin-left: 43px;
}

.title {
    background-color: #34495E; 
    padding: 10px 20px;
}

.selection-menu > .row {
    margin: auto;
}


.selection-menu .offer-icon {
    position: absolute;
    top: 175px;
    left: 455px;
    font-size: 50px;
}


/*** LISTINGS ****/

.items-wanted {
    background-color: none;
}

.items-offered {
    background-color: none;
}

/*** Search ***/

.search-main {
    display: none;
}

.search-section,
.response-section,
.notes-section {
    margin: 25px 0;
}

.response {
    height: 300px;
    overflow: auto;
}

.response-message {
    position: relative;
    top: 80px;
    left: 15px;
}

.item-search {
    margin: 10px;
}

.item-search input {
    margin: 10px 0;
}

.search-btn {
    margin-right: 5px;
}

#search {
    width: 50%;
}


/*** Backpack ***/

.backpack-section {
    margin-top: 30px;
}

.backpack-section span {
    display: inline-block;
    margin-top: 5px;
}

.backpack {
    height: 300px;
    overflow: auto;
}

.backpack ul {

}

#reload {
    display: inline;
}

/*** NOTE SECTION ***/

.notes textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
}

/*** LISTINGS INDEX SECTION ***/

.single-listing {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding-right: 50px;
}

.single-listing:nth-child(n+2) {
    margin: 20px 0;
}

.single-listing .offer-icon {
    font-size: 35px;
    margin-top: 20px;
}

.single-listing .icon {
    font-size: 25px;
    color: white;
    margin: 0 8px;
}

.single-listing .icon:hover {
    color: #1ABC9C;
    transition: 0.25s;
}

.list-items-offered {
    
}

.note-section {
    margin: 20px 0;
    display: none;
}

/*** COMMENTS ***/

.individual-comment {
    margin: 20px 0;
}

.new_comment textarea {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 100px;
}

.new_comment .btn {
    margin: 20px 0;
}

.comment-header span {
    color: white;
}


.user-avy img,
.comment-avy img {
    border: 5px solid #34495E;
    border-radius: 5px;
    margin: 0 -8px;
}

.commenting-area {
    margin: 20px 0;
}

.single-listing .title {
    padding: 0;
}

.icon i {
    height: 5px;
    width: 55px;
}
