@import "import";

.user-stats {
    height: 230px;
    background-image: url("main-bg.jpg");
    color: #FFF;
    .user-stats-sub {
        margin-top: 19px;
        margin-left: 30px;
        i {
            font-size: 40px;
        }
    }
    .user-img {
        margin: 20px 0 0 50px;

    }
    .steam-name {
        font-size: 35px;
        margin-left: 15px;
    }
    .user-stats-options {
        div {
            height: 100px;
            width: 138px;
            padding: 10px;
            margin: 0 10px;
            &:hover{
                color: $color2;
                @include transition(0.25s)
            }
        }
        p {
            font-size: 18px;
            font-weight: 300;
        }
    }
}

.main-backpack-section {
    
    .title, .menu, .backpack {
        border: 2px solid white;
    }
    .title {
       
    }
    .backpack {
        margin-top: 0px;
        height: auto;
        overflow: none;
    }
    .note-section {
        margin-top: 20px;
        .title {
            padding: 10px;
        
        }
    }
}

.user-backpack-listings {
    display: none;
    .single-listing {
        margin: 30px auto !important;
        width: 1000px;
    }
}

/*** EDIT / SETTINGS SECTION ***/

.trade-url-section,
.block-user-section {
    border: 1px solid $color3;
    padding: 25px;
}

.trade-url-section {
    .settings-btn {
        margin-top: 10px;
        width: 100%;
    }
}

.block-user-section {
    display: none;
}