@import "import";

.user-stats {
    height: 305px;
    background-color: $color1;
    color: #FFF;
}

.user-stats-main {
    position: relative;
    top: 40px;
    left: 50px;
}

.user-stats-main img {
    border: 2px solid $color2;
    width: 185px;
    height: 185px;
}

.steam-name {
    margin-top: -20px;
    margin-bottom: 10px;
}

.item-count {
    margin-top: 15px;
}

.user-stats-menu {
    margin-top: 45px;
}

.user-stats-menu li {
    list-style: none;
    margin: 20px 0;
    margin-left: 40px;
}

/*

.container .backpack-section {
    background-color: orange;
}

*/