// Place all the styles related to the UserListings controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/* items */

.item {
    float: left;    
    width: 150px;
    height: 150px;
    margin: 0 10px;
}


.item-slot {
    background-color: #95a5a6;
    width: 100px;
    height: 100px;
    float: left;
    border: 2px solid;
    margin: 1px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;

}

.item-slot:hover {
    background-color: #34495e;
}

.item-close {
    height: 25%;
    width:  25%;
    position: relative;
    top: -100px;
    left: 70px;
}

.highlighted {
    background-color: red;
}

/* Search Form */

.search-div {
    margin: 100px;
}

/* Player Listings */

.list-view {
    background-color: red;
    margin: 20px 0;
}

.listing-notes {
    background-color: red;
    display: none;
    margin-top: 10px;
}

.row.listing-notes {
    margin-left: 0;
}

.listing-comments {
    background-color: red;
    margin-top: 10px;
}

.commenting-area textarea {
    width: 100%;
}