<div class="messages-sidebar sidebar">
    <div class="sidebar-menu clearfix">
        <ul class="text-center">
            <li><%= link_to "Sent Messages", sent_messages_user_messages_path %><i class="fa fa-check-square"></i></li>
        </ul>
    </div>
</div>
