    <div class="span2 well well-large">
        <ul>
            <li><a href=""></a>Compose</li>
            <li><%= link_to "Inbox", user_messages_path %></li>
            <li><%= link_to "Sent Messages", sent_messages_user_messages_path %></li>
        </ul>
    </div>